* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fefefe;
  color: black;
}

.root-container {
  flex: 1;
  display: flex;
}

.sidebar {
  flex: 0.3;
  background-color: rgb(234, 234, 234);
  padding: 15px;
}

.sidebar-header {
  padding-bottom: 10px;
}

.sidebar-content ul {
  font-size: 1.2rem;
  list-style-type: none;
}

.main-content {
  flex: 0.7;
  padding: 15px;
}

.main-content ol {
  list-style-position: inside;
}
